@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'VNAVAN';
    src: url('fonts/VNAVAN.TTF') format('truetype');
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto';
}

input {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

body {
    overflow-x:hidden;  
}

.slogan {
    text-align: center;
}

.slogan-top {
    margin: 0;
    font-size: 70px;
}

    .slogan-top span.g1 {
        font-family: VNAVAN;
        color: #3113E7;
    }

    .slogan-top span.o {
        font-family: VNAVAN;
        color: yellow;
    }

    .slogan-top span.g2 {
        font-family: VNAVAN;
        color: red;
    }

    .slogan-top span.a {
        font-family: VNAVAN;
        color: #078F0D;
    }

.slogan-bottom {
  font-size: 14px;
}

.page-title {
    font-size: 1.8em;
}

    .page-title span.g1 {
        font-family: VNAVAN;
        color: #3113E7;
    }

    .page-title span.o {
        font-family: VNAVAN;
        color: yellow;
    }

    .page-title span.g2 {
        font-family: VNAVAN;
        color: red;
    }

    .page-title span.a {
        font-family: VNAVAN;
        color: #078F0D;
    }

.region_submit {
    border-radius: 25px !important;
}

.icon-scale {
    height: 3.6em !important;
    width: 3.6em !important;
    border-radius: 50% !important;
}

    .icon-scale:after {
        height: 3.6em !important;
        width: 3.6em !important;
        margin-left: -1.8em;
        margin-top: -1.8em;
    }

.icon-header {
    top: 0 !important;
    background-color: #1d1d1d !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*.ui-icon-bars:after {
    background-size:32px 32px;
}*/

#product-page .description {
    display: none;
    white-space: normal;
    font-size: 1em;
    font-weight: normal;
}

#product-page .description p {
    white-space: normal !important;
    font-size: 1em;
}

#product-page .product-price {
    white-space: normal !important;
    font-size: 1em;
}

#product-page .ui-block-a{
    width:80%;
}

#product-page .ui-block-b{
    width:20%;
}

.product-logo {
    width: 80px;
}

a.cart-item {
    text-decoration: none;
    color: white;
}

    a.cart-item:visited {
        text-decoration: none;
        color: white;
    }

.add-button {
    position: fixed;
    right: 1em;
    bottom: 3em;
    background-color: #F44336 !important;
    z-index:99;
}

.ui-slider-handle {
    border-radius:50%;
}

.footer-button-left,
.footer-button-right {
    position: absolute;
    margin: 0;
    top: auto;
    bottom: 0.24em;
}

.footer-button-left {
    left: 0.4em;
}

.footer-button-right {
    right: 0.4em;
    top: 0.1em;
}

.inline-block {
    display:inline-block;
}

.checkout-item-divider {
    border: 0;
    border-bottom: 1px dashed #fff;
}

.label {
    color:#E84A5F;
}

.checkout-total {
    text-align:center;
}

.button-center {
     text-align:center;
}

.button-center a {
     margin: 0 auto;
}

.marquee {
  width: 100%;
  overflow: hidden;
  font-weight: bold !important;
}

.marquee p {
    margin: 0;
}

.customer-welcome {
    background-color: 		#22aadd !important /*{b-active-background-color}*/;
	border-color:	 		#22aadd !important/*{b-active-border}*/;
	color: 					#fff !important/*{b-active-color}*/;
	text-shadow: 0 /*{b-active-shadow-x}*/ 1px /*{b-active-shadow-y}*/ 0 /*{b-active-shadow-radius}*/ #0088bb !important/*{b-active-shadow-color}*/;
    font-weight: bold !important;
}

.highlight {
    color: yellow;
}

.requied {
    color: #E84A5F;
}
