@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'VNI-Tubes';
    src: url('fonts/VNI-Tubes.ttf') format('truetype');
}

@font-face {
    font-family: 'Levenim-MT-Regular';
    src: url('fonts/Levenim-MT-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Segoe-Print-Regular';
    src: url('fonts/Segoe-Print-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Times-New-Roman-Italic';
    src: url('fonts/Times-New-Roman-Italic.ttf') format('truetype');
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto';
}

input, textarea, select {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

body {
    overflow-x: hidden;
}

.page-title {
    font-size: 1.8em;
    color:#186031;
}

span.vnitube {
    font-family: VNI-Tubes;
    font-size: 1.5em;
    line-height: 0px;
    font-weight: 100;
}

span.lmt {
    font-family: Levenim-MT-Regular;
}

span.spr {
    font-family: Segoe-Print-Regular;
    font-weight: 100;
}

span.tnmi {
    font-family: Times-New-Roman-Italic;
    font-weight: 100;
}

.region_submit {
    border-radius: 25px !important;
}

.icon-scale {
    height: 3.6em !important;
    width: 3.6em !important;
    border-radius: 50% !important;
}

    .icon-scale:after {
        height: 3.6em !important;
        width: 3.6em !important;
        margin-left: -1.8em;
        margin-top: -1.8em;
    }

.icon-header {
    top: 0 !important;
    background-color: #1d1d1d !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.icon-zoom {
    padding: 0;
    width: 3em;
    height: 3em;
    text-indent: -9999px;
    white-space: nowrap !important;
    border-radius: 2em !important;
}

    .icon-zoom:after {
        height: 36px;
        width: 36px;
        position: absolute;
        content: "";
        display: block;
        margin-left: -18px;
        margin-top: -18px;
        border-radius: 36px;
    }

.ui-icon-shop {
    background-color: #fff;
}

    .ui-icon-shop:after {
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20style%3D%22fill%3A%2322aadd%3B%22%20d%3D%22M1792%20768q53%200%2090.5%2037.5t37.5%2090.5-37.5%2090.5-90.5%2037.5h-15l-115%20662q-8%2046-44%2076t-82%2030h-1280q-46%200-82-30t-44-76l-115-662h-15q-53%200-90.5-37.5t-37.5-90.5%2037.5-90.5%2090.5-37.5h1792zm-1435%20800q26-2%2043.5-22.5t15.5-46.5l-32-416q-2-26-22.5-43.5t-46.5-15.5-43.5%2022.5-15.5%2046.5l32%20416q2%2025%2020.5%2042t43.5%2017h5zm411-64v-416q0-26-19-45t-45-19-45%2019-19%2045v416q0%2026%2019%2045t45%2019%2045-19%2019-45zm384%200v-416q0-26-19-45t-45-19-45%2019-19%2045v416q0%2026%2019%2045t45%2019%2045-19%2019-45zm352%205l32-416q2-26-15.5-46.5t-43.5-22.5-46.5%2015.5-22.5%2043.5l-32%20416q-2%2026%2015.5%2046.5t43.5%2022.5h5q25%200%2043.5-17t20.5-42zm-1156-1217l-93%20412h-132l101-441q19-88%2089-143.5t160-55.5h167q0-26%2019-45t45-19h384q26%200%2045%2019t19%2045h167q90%200%20160%2055.5t89%20143.5l101%20441h-132l-93-412q-11-44-45.5-72t-79.5-28h-167q0%2026-19%2045t-45%2019h-384q-26%200-45-19t-19-45h-167q-45%200-79.5%2028t-45.5%2072z%22%2F%3E%3C%2Fsvg%3E");
    }

.ui-btn-active {
    background-color: #22aadd !important /*{b-active-background-color}*/;
    border-color: #22aadd !important /*{b-active-border}*/;
    color: #fff !important /*{b-active-color}*/;
    text-shadow: 0 /*{b-active-shadow-x}*/ 1px /*{b-active-shadow-y}*/ 0 /*{b-active-shadow-radius}*/ #0088bb !important /*{b-active-shadow-color}*/;
}

/*.ui-icon-bars:after {
    background-size:32px 32px;
}*/

#product-page .description {
    display: none;
    white-space: normal;
    font-size: 1em;
    font-weight: normal;
}

    #product-page .description p {
        white-space: normal !important;
        font-size: 1em;
    }

#product-page .product-price {
    white-space: normal !important;
    font-size: 1em;
}

#product-page .ui-block-a {
    width: 80%;
}

#product-page .ui-block-b {
    width: 20%;
}

.product-logo {
    width: 80px;
}

a.cart-item {
    text-decoration: none;
    color: #333;
}

    a.cart-item:visited {
        text-decoration: none;
        color: #333;
    }

.add-button {
    position: fixed;
    right: 1em;
    bottom: 3em;
    background-color: #F44336 !important;
    z-index: 99;
}

.ui-slider-handle {
    border-radius: 50%;
}

.footer-button-left,
.footer-button-right {
    position: absolute;
    margin: 0;
    top: auto;
    bottom: 0.24em;
}

.footer-button-left {
    left: 0.4em;
}

.footer-button-right {
    right: 0.4em;
    top: 0.1em;
}

.inline-block {
    display: inline-block;
}

.checkout-item-divider {
    border: 0;
    border-bottom: 1px dashed #333;
}

/*.label {
    color: #E84A5F;
}*/

.checkout-total {
    text-align: center;
}

.button-center {
    text-align: center;
}

    .button-center a {
        margin: 0 auto;
    }

.marquee {
    width: 100%;
    overflow: hidden;
    font-weight: bold !important;
}

    .marquee p {
        margin: 0;
    }

.customer-welcome {
    background-color: #22aadd !important /*{b-active-background-color}*/;
    border-color: #22aadd !important /*{b-active-border}*/;
    color: #fff !important /*{b-active-color}*/;
    text-shadow: 0 /*{b-active-shadow-x}*/ 1px /*{b-active-shadow-y}*/ 0 /*{b-active-shadow-radius}*/ #0088bb !important /*{b-active-shadow-color}*/;
    font-weight: bold !important;
}

.highlight {
    color: red;
}

.requied {
    color: red;
}

.ui-icon-plus:after {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2228px%22%20height%3D%2228px%22%20viewBox%3D%220%200%20612%20612%22%20style%3D%22enable-background%3Anew%200%200%20612%20612%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cg%20id%3D%22plus%22%3E%0A%09%09%3Cg%3E%0A%09%09%09%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%22612%2C286.893%20325.116%2C286.893%20325.116%2C0.296%20286.903%2C0.296%20286.903%2C286.893%200%2C286.893%200%2C325.107%20286.903%2C325.107%20%0A%09%09%09%09286.903%2C611.704%20325.116%2C611.704%20325.116%2C325.107%20612%2C325.107%20%09%09%09%22%2F%3E%0A%09%09%3C%2Fg%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}

.popup-header {
    background-color: #22aadd;
    color: #fff;
}

.ui-flipswitch .ui-btn.ui-flipswitch-on {
    width: 1.75em;
    padding: 0;
    text-indent: -2.6em; /* Override this to center text if you use a label other than "on" */
    text-align: left;
    border-width: 1px;
    border-style: solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 1em;
    overflow: visible;
    color: inherit;
    text-shadow: inherit;
}

.ui-flipswitch {
    display: inline-block;
    vertical-align: middle;
    width: 5.875em; /* Override this and padding-left in next rule if you use labels other than "on/off" and need more space */
    height: 1.875em;
    border-width: 1px;
    border-style: solid;
    margin: .5em 0;
    overflow: hidden;
    -webkit-transition-property: padding, width, background-color, color, border-color;
    -moz-transition-property: padding, width, background-color, color, border-color;
    -o-transition-property: padding, width, background-color, color, border-color;
    transition-property: padding, width, background-color, color, border-color;
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border-radius: 1em !important;
}

.slogan {
    text-align: center;
    border-bottom: none !important;
}

.slogan-top {
    font-size: 1.8em;
    text-align: center;
}

.slogan-bottom {
    font-weight:bold;
    color: red;
}

.order-product-logo {
    width:30% !important;
}
.order-product-detail {
    width:70% !important;
    padding-left:5px;
}
.order-total {
    text-align:right;
}
.order-status-success {
    color: #5cb85c;
}
.order-status-warning {
    color: #f0ad4e;
}
.order-status-info {
    color: #5bc0de;
}
.order-status-danger {
    color: #d9534f;
}

.order-status-success > a {
    color: #5cb85c !important;
}
.order-status-warning > a {
    color: #f0ad4e !important;
}
.order-status-info > a {
    color: #5bc0de !important;
}
.order-status-danger > a {
    color: #d9534f !important;
}

.header-title {
    margin: 0px;
}

.ads-hidden {
    display: none;
}

#ads-description {
    font-weight:normal !important;
}

.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index: 9999;
}

.ui-loading .ui-loader-background {
    display:block;
}

.font-size-17 {
    font-size: 17px !important;
}

.font-size-18 {
    font-size: 18px !important;
}

.font-size-19 {
    font-size: 19px !important;
}

.font-size-20 {
    font-size: 20px !important;
}

.font-size-17 * {
    font-size: 17px !important;
}

.font-size-18 * {
    font-size: 18px !important;
}

.font-size-19 * {
    font-size: 19px !important;
}

.font-size-20 * {
    font-size: 20px !important;
}