@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto';
}

input {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}



#slogan {
    color: goldenrod;
    text-align: center;
}

.slogan-top {
    margin: 0;
    font-size: 50px;
}

    .slogan-top span.s {
        font-family: 'Product Sans';
        color: #0037cf;
    }

    .slogan-top span.a-first {
        font-family: 'Product Sans';
        color: #f6ef1b;
    }

    .slogan-top span.y {
        font-family: 'Product Sans';
        color: #00b600;
    }

    .slogan-top span.a-last {
        font-family: 'Product Sans';
        color: #fa5100;
    }

.page-title {
    font-size: 1.8em;
}

    .page-title span.s {
        font-family: 'Product Sans';
        color: #0037cf;
    }

    .page-title span.a-first {
        font-family: 'Product Sans';
        color: #f6ef1b;
    }

    .page-title span.y {
        font-family: 'Product Sans';
        color: #00b600;
    }

    .page-title span.a-last {
        font-family: 'Product Sans';
        color: #fa5100;
    }

#region_submit {
    border-radius: 25px;
}

.icon-scale {
    height: 3.6em !important;
    width: 3.6em !important;
    border-radius: 50% !important;
}

    .icon-scale:after {
        height: 3.6em !important;
        width: 3.6em !important;
        margin-left: -1.8em;
        margin-top: -1.8em;
    }

.icon-header {
    top: 0 !important;
    background-color: #1d1d1d !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*.ui-icon-bars:after {
    background-size:32px 32px;
}*/

#product-page .description {
    display: none;
    white-space: normal;
    font-size: 0.75em;
    font-weight: normal;
}

#product-page .description p {
    white-space: normal !important;
    font-size: 1em;
}

.product-logo {
    width: 80px;
}

a.cart-item {
    text-decoration: none;
    color: white;
}

    a.cart-item:visited {
        text-decoration: none;
        color: white;
    }

.add-button {
    position: fixed;
    right: 1em;
    bottom: 3em;
    background-color: #F44336 !important;
    z-index:99;
}

.ui-slider-handle {
    border-radius:50%;
}

.footer-button-left,
.footer-button-right {
    position: absolute;
    margin: 0;
    top: auto;
    bottom: 0.24em;
}

.footer-button-left {
    left: 0.4em;
}

.footer-button-right {
    right: 0.4em;
    top: 0.1em;
}

.inline-block {
    display:inline-block;
}

.checkout-item-divider {
    border: 0;
    border-bottom: 1px dashed #fff;
}

.label {
    color:#E84A5F;
}

.checkout-total {
    text-align:center;
}

.button-center {
     text-align:center;
}

.button-center a {
     margin: 0 auto;
}
