<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    <meta http-equiv="Content-Security-Policy"
          content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: https://ssl.gstatic.com 'unsafe-eval'; script-src * 'self' 'unsafe-inline' 'unsafe-eval' ;style-src * 'self' 'unsafe-inline' 'unsafe-eval'; media-src *">
    <title>saya</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <!-- saya references -->
    <link href="css/libs/jquery.mobile-1.4.5.css" rel="stylesheet" />
    <link href="css/jquery.mobile.overridden.css" rel="stylesheet" />
    <link href="css/jqm-font-awesome/jqm-font-awesome-isvg-ipng.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
</head>
<body>
    <div data-role="page" id="region-page" data-theme="b">
        <div role="main" class="ui-content">
            <div class="slogan">
                <h1 class="slogan-top"><span class="n">N</span><span class="e1">e</span><span class="e2">e</span><span class="d">D</span></h1>
                <small class="slogan-bottom">for families</small>
            </div>
            <div class="region">
                <select class="region-parent" name="region[parent]">
                    <option value="">Thành phố/Tỉnh</option>
                </select>
                <select class="region-child" name="region[child]">
                    <option value="">Quận/Thị xã</option>
                </select>
            </div>
            <br /><br />
            <div class="submit">
                <a href="#category-page" data-role="button" data-transition="slide" class="region_submit">Xác nhận</a>
            </div>
        </div><!-- /content -->
    </div>

    <div data-role="page" id="category-page" data-theme="b">
        <div data-role="header" data-position="fixed">
            <h1>
                <span class="page-title">
                    <span class="n">N</span><span class="e1">e</span><span class="e2">e</span><span class="d">D</span>
                </span>
            </h1>
            <!-- <a href="#" data-direction="reverse" data-iconpos="notext" data-rel="back" data-icon="arrow-l" class="icon-scale icon-header ui-nodisc-icon">Back</a>-->
            <a href="#category-panel" data-icon="bars" data-iconpos="notext" class="ui-btn-right icon-scale icon-header ui-nodisc-icon">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content">
            <div class='marquee'>
            </div>
            <div id="catgory-list">

            </div>
        </div><!-- /content -->

        <div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="category-panel" data-position="right">
            <ul data-role="listview">
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
            </ul>
        </div>
    </div>

    <div data-role="page" id="product-page" data-theme="b">
        <div data-role="header" data-position="fixed">
            <h1>
                <span class="page-title">
                    <span class="n">N</span><span class="e1">e</span><span class="e2">e</span><span class="d">D</span>
                </span>
            </h1>
            <a href="#category-page" data-transition="slide" data-direction="reverse" data-iconpos="notext" data-icon="arrow-l" class="icon-scale icon-header ui-nodisc-icon">Back</a>
            <a href="#product-panel" data-icon="bars" data-iconpos="notext" class="icon-scale icon-header ui-nodisc-icon">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content">
        </div><!-- /content -->

        <div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="product-panel" data-position="right">
            <ul data-role="listview">
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
            </ul>
        </div>
    </div>

    <div data-role="page" id="cart-page" data-theme="b">
        <div data-role="header" data-position="fixed">
            <h1>
                <span class="page-title">
                    <span class="n">N</span><span class="e1">e</span><span class="e2">e</span><span class="d">D</span>
                </span>
            </h1>
            <a href="#" data-direction="reverse" data-iconpos="notext" data-rel="back" data-icon="arrow-l" class="icon-scale icon-header ui-nodisc-icon">Back</a>
            <a href="#cart-panel" data-icon="bars" data-iconpos="notext" class="icon-scale icon-header ui-nodisc-icon">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content">
            <div id="cart-list">

            </div>
            <a href="#category-page" data-transition="slide" class="ui-btn ui-shadow ui-corner-all ui-icon-plus icon-scale ui-btn-icon-notext add-button"></a>
        </div><!-- /content -->

        <div data-role="footer" data-position="fixed">
            <h1 style="text-align: left">Tổng tiền: <span id="cart-total-price">0</span>đ</h1>
            <a href="#customer-page" data-transition="slide" class="ui-btn ui-corner-all ui-btn-inline ui-mini footer-button-right ui-btn-icon-right ui-icon-carat-r">Tiếp theo</a>
        </div>

        <div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="cart-panel" data-position="right">
            <ul data-role="listview">
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
            </ul>
        </div>

        <div data-role="popup" id="cart-confirm-remove" data-overlay-theme="b" data-theme="b">
            <div data-role="header" data-theme="a">
                <h1>Cảnh báo</h1>
            </div>
            <div role="main" class="ui-content">
                <p>Bạn có muốn xóa sản phẩm này khỏi giỏ hàng?</p>
                <div class="button-center">
                    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" id="cart-confirm-ok">Đồng ý</a>
                    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" id="cart-confirm-cancel">Hủy bỏ</a>
                </div>
            </div>
        </div>
    </div>

    <div data-role="page" id="customer-page" data-theme="b">
        <div data-role="header" data-position="fixed">
            <h1>
                <span class="page-title">
                    <span class="n">N</span><span class="e1">e</span><span class="e2">e</span><span class="d">D</span>
                </span>
            </h1>
            <a href="#" data-direction="reverse" data-iconpos="notext" data-rel="back" data-icon="arrow-l" class="icon-scale icon-header ui-nodisc-icon">Back</a>
            <a href="#customer-panel" data-icon="bars" data-iconpos="notext" class="icon-scale icon-header ui-nodisc-icon">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content">
            <label for="fullname" class="label"><strong>Họ và tên<span class="requied"> (*)</span></strong></label>
            <input type="text" name="fullname" id="fullname" value="" required>
            <label for="mobile" class="label"><strong>Số điện thoại chính<span class="requied"> (*)</span></strong></label>
            <input type="number" name="mobile" pattern="[0-9]*" id="mobile" value="" required>
            <label for="mobile2" class="label"><strong>Số điện thoại dự phòng</strong></label>
            <input type="number" name="mobile2" pattern="[0-9]*" id="mobile2" value="">
            <label for="address" class="label"><strong>Địa chỉ giao hàng<span class="requied"> (*)</span></strong></label>
            <textarea cols="40" rows="8" name="address" id="address"></textarea>
            <label class="label"><strong>Tỉnh/Thành phố của bạn</strong></label>
            <span class="region_parent"></span>
            <label class="label"><strong>Quận/Huyện/Thị xã của bạn</strong></label>
            <span class="region"></span>
        </div><!-- /content -->

        <div data-role="footer" data-position="fixed">
            <h1></h1>
            <a id="checkout" href="#checkout-page" data-transition="slide" class="ui-btn ui-corner-all ui-btn-inline ui-mini footer-button-right ui-btn-icon-right ui-icon-carat-r">Tiếp theo</a>
        </div>

        <div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="customer-panel" data-position="right">
            <ul data-role="listview">
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
            </ul>
        </div>
    </div>

    <div data-role="page" id="checkout-page" data-theme="b">
        <div data-role="header" data-position="fixed">
            <h1>
                <span class="page-title">
                    <span class="n">N</span><span class="e1">e</span><span class="e2">e</span><span class="d">D</span>
                </span>
            </h1>
            <a href="#" data-direction="reverse" data-iconpos="notext" data-rel="back" data-icon="arrow-l" class="icon-scale icon-header ui-nodisc-icon">Back</a>
            <a href="#checkout-panel" data-icon="bars" data-iconpos="notext" class="icon-scale icon-header ui-nodisc-icon">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content">
            <div id="checkout-list">

            </div>
            <div class="ui-grid-solo">
                <h3 class="checkout-total">Tổng tiền: <span class="checkout-total-price"></span></h3>
            </div>
            <div id="checkout-customer">

            </div>
        </div><!-- /content -->

        <div data-role="footer" data-position="fixed">
            <div data-role="navbar" data-iconpos="top">
                <ul>
                    <li><a href="#checkout-confirm-cancel" data-icon="delete" class="checkout-cancel" data-rel="popup" data-transition="pop" data-position-to="window">Hủy bỏ</a></li>
                    <li><a href="#" data-icon="check" class="checkout-ok">Đặt hàng</a></li>
                </ul>
            </div><!-- /navbar -->
        </div>

        <div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="checkout-panel" data-position="right">
            <ul data-role="listview">
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
            </ul>
        </div>

        <div data-role="popup" id="checkout-confirm-cancel" data-overlay-theme="b" data-theme="b">
            <div data-role="header" data-theme="a">
                <h1>Cảnh báo</h1>
            </div>
            <div role="main" class="ui-content">
                <p>Bạn muốn hủy đơn hàng này?</p>
                <div class="button-center">
                    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" id="checkout-confirm-no">Không</a>
                    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" id="checkout-confirm-yes">&nbsp;Có&nbsp;&nbsp;</a>
                </div>
            </div>
        </div>
    </div>

    <div data-role="page" id="about-page" data-theme="b">
        <div data-role="header" data-position="fixed">
            <h1>
                <span class="page-title">
                    <span class="n">N</span><span class="e1">e</span><span class="e2">e</span><span class="d">D</span>
                </span>
            </h1>
            <a href="#" data-direction="reverse" data-iconpos="notext" data-rel="back" data-icon="arrow-l" class="icon-scale icon-header ui-nodisc-icon">Back</a>
            <a href="#about-panel" data-icon="bars" data-iconpos="notext" class="icon-scale icon-header ui-nodisc-icon">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content">
        </div><!-- /content -->

        <div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="about-panel" data-position="right">
            <ul data-role="listview">
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
            </ul>
        </div>
    </div>

    <div data-role="page" id="region-edit-page" data-theme="b">
        <div data-role="header" data-position="fixed">
            <h1>
                <span class="page-title">
                    <span class="n">N</span><span class="e1">e</span><span class="e2">e</span><span class="d">D</span>
                </span>
            </h1>
            <a href="#" data-direction="reverse" data-iconpos="notext" data-rel="back" data-icon="arrow-l" class="icon-scale icon-header ui-nodisc-icon">Back</a>
            <a href="#region-edit-panel" data-icon="bars" data-iconpos="notext" class="icon-scale icon-header ui-nodisc-icon">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content">
            <div class="region">
                <select class="region-parent" name="region[parent]">
                    <option value="">Thành phố/Tỉnh</option>
                </select>
                <select class="region-child" name="region[child]">
                    <option value="">Quận/Thị xã</option>
                </select>
            </div>
            <br /><br />
            <div class="submit">
                <a href="#category-page" data-role="button" data-transition="slide" class="region_submit" data-empty_cart="1">Xác nhận</a>
            </div>
        </div><!-- /content -->

        <div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="region-edit-panel" data-position="right">
            <ul data-role="listview">
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
            </ul>
        </div>
    </div>

    <div id="system-popup" data-theme="a" data-role="popup" class="hidden">
        <div id="system-popup-content" class="ui-content"></div>
    </div>
    <div id="network-popup" data-theme="a" data-role="popup" class="hidden" data-overlay-theme="b" data-dismissible="false">
        <div id="network-popup-content" class="ui-content">
        </div>
    </div>

    <script type="text/template" id="product-item-tpl">
        <a class="ui-btn ui-btn-icon-bottom ui-icon-carat-d product-item">
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <img src="<%= logo_path %>" alt="<%= name %>" class="product-logo inline-block" />
                    <div class="inline-block">
                        <h2><%= name %></h2>
                        <p class="product-price">Giá: <%= price %>/<%= unit %></p>
                    </div>
                </div>
                <div class="ui-block-b">
                    <span class="ui-btn ui-btn-right ui-shadow ui-corner-all ui-icon-fa-shopping-cart ui-btn-icon-notext ui-nodisc-icon cart icon-scale" data-item='<%= serialize %>'>Mua</span>
                </div>
            </div>
            <div class="ui-grid-solo">
                <div class="description"><%= description %></div>
            </div>
        </a>
    </script>

    <script type="text/template" id="cart-item-tpl">
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a href="#product-page" class="cart-item" data-transition="slide" data-expand="#product-<%= id %>" data-category_id="<%= category_id[0] %>">
                    <img src="<%= logo_path %>" alt="<%= name %>" class="product-logo" />
                    <br />
                    <span><%= name %></span>
                    <br />
                    <span><%= price %>/<%= unit %></span>
                </a>
            </div>
            <div class="ui-block-b">
                <input type="range" name="slider-<%= id %>" id="slider-<%= id %>" min="0" max="<%= max_qty %>" value="<%= qty %>" data-highlight="true" class="qty" data-item='<%= serialize %>' />
            </div>
        </div>
    </script>

    <script type="text/template" id="checkout-item-tpl">
        <div class="ui-grid-a">
            <div class="ui-block-a" style="width:30%">
                <img src="<%= logo_path %>" alt="<%= name %>" class="product-logo" />
            </div>
            <div class="ui-block-b" style="width:70%">
                <strong><%= name %></strong>
                <br />
                <span>Đơn giá: <%= price %>/<%= unit %></span>
                <br />
                <span>Số lượng: <%= qty %></span>
            </div>
        </div>
        <hr class="checkout-item-divider" />
    </script>

    <script type="text/template" id="checkout-customer-tpl">
        <div class="ui-grid-solo">
            <strong class="label">Người mua hàng:</strong><br />
            <span><%= fullname %></span><br />
            <strong class="label">Số điện thoại:</strong><br />
            <span><%= mobile %></span><br />
            <% if(mobile2.length) { %>
            <span><%= mobile2 %></span><br />
            <% } %>
            <strong class="label">Địa chỉ:</strong><br />
            <span><%= address %></span><br />
        </div>
    </script>

    <!--<script src="http://192.168.5.147:1337/vorlon.js"></script>-->
    <script src="scripts/libs/localforage.js"></script>
    <script src="scripts/libs/underscore.js"></script>
    <script src="scripts/libs/jquery-2.1.4.js"></script>
    <script src="scripts/libs/jquery.marquee.js"></script>
    <script src="scripts/libs/spin.js"></script>
    <script src="scripts/libs/jquery.spin.js"></script>
    <script src="scripts/libs/fastclick.js"></script>
    <script src="scripts/libs/backbone.js"></script>
    <script src="scripts/libs/localforage.backbone.js"></script>
    <script src="scripts/index.js"></script>
    <script src="scripts/jqm-config.js"></script>
    <script src="scripts/libs/jquery.mobile-1.4.5.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="cordova.js"></script>
</body>
</html>