<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    <meta http-equiv="Content-Security-Policy" />
    <title>saya</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <!-- saya references -->
    <link href="css/libs/jquery.mobile-1.4.5.css" rel="stylesheet" />
    <!--<link href="css/libs/jquery.mobile.custom.theme.css" rel="stylesheet" />
    <link href="css/libs/jquery.mobile.icons-1.4.5.css" rel="stylesheet" />
    <link href="css/libs/jquery.mobile.structure-1.4.5.css" rel="stylesheet" />-->
    <link href="css/jquery.mobile.overridden.css" rel="stylesheet" />
    <link href="css/jqm-font-awesome/jqm-font-awesome-isvg-ipng.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
    <style>
        * {
            zoom: 1;
        }

        @-ms-viewport {
            width: auto !important;
        }

        html {
            /*overflow: hidden;*/
            -ms-content-zooming: none;
        }

        body {
            -ms-touch-action: pan-y;
        }
    </style>
</head>
<body>
    <div data-role="page" id="region-page" data-theme="a">
        <div data-role="header" data-position="fixed">
            <h1 class="header-title">
                <span class="page-title">
                    <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                </span>
            </h1>
        </div>
        <div role="main" class="ui-content font-content">
            <div class="region">
                <select class="region-parent" name="region[parent]">
                    <option value="">Thành phố/Tỉnh</option>
                </select>
                <select class="region-child" name="region[child]">
                    <option value="">Quận/Thị xã</option>
                </select>
            </div>
            <br /><br />
            <div class="submit">
                <a href="#category-page" data-role="button" data-transition="slide" class="region_submit">Xác nhận</a>
            </div>
        </div><!-- /content -->
    </div>

    <div data-role="page" id="category-page" data-theme="a">
        <div data-role="header" data-position="fixed">
            <h1 class="header-title">
                <span class="page-title">
                    <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                </span>
            </h1>
            <!-- <a href="#" data-direction="reverse" data-iconpos="notext" data-rel="back" data-icon="arrow-l" class="icon-zoom">Back</a>-->
            <a href="#category-panel" data-icon="grid" data-iconpos="notext" class="ui-btn-right icon-zoom">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content font-content">
            <div class='marquee highlight'>
            </div>
            <div id="catgory-list">

            </div>
        </div><!-- /content -->

        <div data-role="footer" data-position="fixed" class="ads-hidden" id="ads-description">
            <span></span>
        </div>

        <div class="font-content" data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="a" id="category-panel" data-position="right" data-classes='{"modal":"needsclick ui-panel-dismiss"}'>
            <ul data-role="listview">
                <li class="customer-welcome" data-rel="close">&nbsp;</li>
                <li><a href="#category-page" data-transition="slide" class="menu">Sản phẩm</a></li>
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#order-page" data-transition="slide" class="menu">Lịch sử đơn hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#setting-page" data-transition="slide" class="menu">Cài đặt</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
                <li class="slogan">
                    <div style="text-align:center">
                        <h1 class="header-title">
                            <span class="page-title">
                                <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                            </span>
                        </h1>
                        <span class="slogan-bottom">
                            <span class="spr">k</span><span class="tnmi">ế</span><span class="spr">t</span>
                            <span class="spr">n</span><span class="tnmi">ố</span><span class="spr">i</span>
                            <span class="spr">n</span><span class="spr">i</span><span class="tnmi">ề</span><span class="spr">m</span>
                            <span class="spr">t</span><span class="tnmi">i</span><span class="spr">n</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>

        <div id="update-popup" data-theme="a" data-role="popup" class="hidden font-content" data-overlay-theme="b" data-dismissible="false">
            <div class="ui-content">
                <div id="update-popup-content"></div>
                <div class="button-center">
                    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-rel="back" id="update-confirm-ok">&nbsp;&nbsp;&nbsp;Có&nbsp;&nbsp;&nbsp;</a>
                    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-rel="back" id="update-confirm-cancel">Không</a>
                </div>
            </div>
        </div>
    </div>

    <div data-role="page" id="product-page" data-theme="a">
        <div data-role="header" data-position="fixed">
            <h1 class="header-title">
                <span class="page-title">
                    <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                </span>
            </h1>
            <a href="#" data-direction="reverse" data-iconpos="notext" data-rel="back" data-icon="arrow-l" class="icon-zoom">Back</a>
            <a href="#product-panel" data-icon="grid" data-iconpos="notext" class="icon-zoom">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content font-content">
        </div><!-- /content -->

        <div class="font-content" data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="a" id="product-panel" data-position="right" data-classes='{"modal":"needsclick ui-panel-dismiss"}'>
            <ul data-role="listview">
                <li class="customer-welcome" data-rel="close">&nbsp;</li>
                <li><a href="#category-page" data-transition="slide" class="menu">Sản phẩm</a></li>
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#order-page" data-transition="slide" class="menu">Lịch sử đơn hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#setting-page" data-transition="slide" class="menu">Cài đặt</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
                <li class="slogan">
                    <div style="text-align:center">
                        <h1 class="header-title">
                            <span class="page-title">
                                <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                            </span>
                        </h1>
                        <span class="slogan-bottom">
                            <span class="spr">k</span><span class="tnmi">ế</span><span class="spr">t</span>
                            <span class="spr">n</span><span class="tnmi">ố</span><span class="spr">i</span>
                            <span class="spr">n</span><span class="spr">i</span><span class="tnmi">ề</span><span class="spr">m</span>
                            <span class="spr">t</span><span class="tnmi">i</span><span class="spr">n</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div data-role="page" id="cart-page" data-theme="a">
        <div data-role="header" data-position="fixed">
            <h1 class="header-title">
                <span class="page-title">
                    <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                </span>
            </h1>
            <a href="#" data-direction="reverse" data-iconpos="notext" data-rel="back" data-icon="arrow-l" class="icon-zoom">Back</a>
            <a href="#cart-panel" data-icon="grid" data-iconpos="notext" class="icon-zoom">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content font-content">
            <div id="cart-list">

            </div>
            <a href="#category-page" data-transition="slide" class="ui-btn ui-shadow ui-corner-all ui-icon-plus icon-zoom ui-btn-icon-notext add-button ui-nodisc-icon"></a>
        </div><!-- /content -->

        <div data-role="footer" data-position="fixed">
            <h1 style="text-align: left" class="highlight">Tổng tiền: <span id="cart-total-price">0</span>đ</h1>
            <a href="#customer-page" data-transition="slide" class="ui-btn ui-corner-all ui-btn-inline ui-mini footer-button-right ui-btn-icon-right ui-icon-carat-r">Tiếp theo</a>
        </div>

        <div class="font-content" data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="a" id="cart-panel" data-position="right" data-classes='{"modal":"needsclick ui-panel-dismiss"}'>
            <ul data-role="listview">
                <li class="customer-welcome" data-rel="close">&nbsp;</li>
                <li><a href="#category-page" data-transition="slide" class="menu">Sản phẩm</a></li>
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#order-page" data-transition="slide" class="menu">Lịch sử đơn hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#setting-page" data-transition="slide" class="menu">Cài đặt</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
                <li class="slogan">
                    <div style="text-align:center">
                        <h1 class="header-title">
                            <span class="page-title">
                                <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                            </span>
                        </h1>
                        <span class="slogan-bottom">
                            <span class="spr">k</span><span class="tnmi">ế</span><span class="spr">t</span>
                            <span class="spr">n</span><span class="tnmi">ố</span><span class="spr">i</span>
                            <span class="spr">n</span><span class="spr">i</span><span class="tnmi">ề</span><span class="spr">m</span>
                            <span class="spr">t</span><span class="tnmi">i</span><span class="spr">n</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="font-content" data-role="popup" id="cart-confirm-remove" data-overlay-theme="b" data-theme="a">
            <div data-role="header" data-theme="a" class="popup-header">
                <h1>Cảnh báo</h1>
            </div>
            <div role="main" class="ui-content">
                <p>Bạn có muốn xóa sản phẩm này khỏi giỏ hàng?</p>
                <div class="button-center">
                    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-rel="back" id="cart-confirm-ok">&nbsp;&nbsp;&nbsp;Có&nbsp;&nbsp;&nbsp;</a>
                    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-rel="back" id="cart-confirm-cancel">Không</a>
                </div>
            </div>
        </div>
    </div>

    <div data-role="page" id="customer-page" data-theme="a">
        <div data-role="header" data-position="fixed">
            <h1 class="header-title">
                <span class="page-title">
                    <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                </span>
            </h1>
            <a href="#" data-direction="reverse" data-iconpos="notext" data-rel="back" data-icon="arrow-l" class="icon-zoom">Back</a>
            <a href="#customer-panel" data-icon="grid" data-iconpos="notext" class="icon-zoom">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content font-content">
            <label for="fullname" class="label"><strong><span>Họ và tên</span><span class="requied">(</span><span class="requied">*</span><span class="requied">)</span></strong></label>
            <input type="text" name="fullname" id="fullname" value="" required>
            <label for="mobile" class="label"><strong><span>Số điện thoại chính</span><span class="requied">(</span><span class="requied">*</span><span class="requied">)</span></strong></label>
            <input type="number" name="mobile" pattern="[0-9]*" id="mobile" value="" required>
            <label for="mobile2" class="label"><strong><span>Số điện thoại dự phòng</span></strong></label>
            <input type="number" name="mobile2" pattern="[0-9]*" id="mobile2" value="">
            <label for="address" class="label"><strong><span>Địa chỉ giao hàng</span><span class="requied">(</span><span class="requied">*</span><span class="requied">)</span></strong></label>
            <textarea cols="40" rows="8" name="address" id="address"></textarea>
            <label class="label"><strong><span>Tỉnh/Thành phố của bạn</span></strong></label>
            <span class="region_parent"></span>
            <label class="label"><strong><span>Quận/Huyện/Thị xã của bạn</span></strong></label>
            <span class="region"></span>
        </div><!-- /content -->

        <div data-role="footer" data-position="fixed">
            <h1></h1>
            <a id="checkout" href="#checkout-page" data-transition="slide" class="ui-btn ui-corner-all ui-btn-inline ui-mini footer-button-right ui-btn-icon-right ui-icon-carat-r">Tiếp theo</a>
        </div>

        <div class="font-content" data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="a" id="customer-panel" data-position="right" data-classes='{"modal":"needsclick ui-panel-dismiss"}'>
            <ul data-role="listview">
                <li class="customer-welcome" data-rel="close">&nbsp;</li>
                <li><a href="#category-page" data-transition="slide" class="menu">Sản phẩm</a></li>
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#order-page" data-transition="slide" class="menu">Lịch sử đơn hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#setting-page" data-transition="slide" class="menu">Cài đặt</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
                <li class="slogan">
                    <div style="text-align:center">
                        <h1 class="header-title">
                            <span class="page-title">
                                <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                            </span>
                        </h1>
                        <span class="slogan-bottom">
                            <span class="spr">k</span><span class="tnmi">ế</span><span class="spr">t</span>
                            <span class="spr">n</span><span class="tnmi">ố</span><span class="spr">i</span>
                            <span class="spr">n</span><span class="spr">i</span><span class="tnmi">ề</span><span class="spr">m</span>
                            <span class="spr">t</span><span class="tnmi">i</span><span class="spr">n</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div data-role="page" id="checkout-page" data-theme="a">
        <div data-role="header" data-position="fixed">
            <h1 class="header-title">
                <span class="page-title">
                    <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                </span>
            </h1>
            <a href="#" data-direction="reverse" data-iconpos="notext" data-rel="back" data-icon="arrow-l" class="icon-zoom">Back</a>
            <a href="#checkout-panel" data-icon="grid" data-iconpos="notext" class="icon-zoom">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content font-content">
            <div id="checkout-list">

            </div>
            <div class="ui-grid-solo">
                <h3 class="checkout-total highlight">Tổng tiền: <span class="checkout-total-price"></span></h3>
            </div>
            <div id="checkout-customer">

            </div>
        </div><!-- /content -->

        <div data-role="footer" data-position="fixed">
            <div data-role="navbar" data-iconpos="top">
                <ul>
                    <li><a href="#checkout-confirm-cancel" data-icon="delete" class="checkout-cancel" data-rel="popup" data-transition="pop" data-position-to="window">Hủy bỏ</a></li>
                    <li><a href="#" data-icon="check" class="checkout-ok">Đặt hàng</a></li>
                </ul>
            </div><!-- /navbar -->
        </div>

        <div class="font-content" data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="a" id="checkout-panel" data-position="right" data-classes='{"modal":"needsclick ui-panel-dismiss"}'>
            <ul data-role="listview">
                <li class="customer-welcome" data-rel="close">&nbsp;</li>
                <li><a href="#category-page" data-transition="slide" class="menu">Sản phẩm</a></li>
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#order-page" data-transition="slide" class="menu">Lịch sử đơn hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#setting-page" data-transition="slide" class="menu">Cài đặt</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
                <li class="slogan">
                    <div style="text-align:center">
                        <h1 class="header-title">
                            <span class="page-title">
                                <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                            </span>
                        </h1>
                        <span class="slogan-bottom">
                            <span class="spr">k</span><span class="tnmi">ế</span><span class="spr">t</span>
                            <span class="spr">n</span><span class="tnmi">ố</span><span class="spr">i</span>
                            <span class="spr">n</span><span class="spr">i</span><span class="tnmi">ề</span><span class="spr">m</span>
                            <span class="spr">t</span><span class="tnmi">i</span><span class="spr">n</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="font-content" data-role="popup" id="checkout-confirm-cancel" data-overlay-theme="b" data-theme="a">
            <div data-role="header" data-theme="a" class="popup-header">
                <h1>Cảnh báo</h1>
            </div>
            <div role="main" class="ui-content">
                <p>Bạn muốn hủy đơn hàng này?</p>
                <div class="button-center">
                    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-rel="back" id="checkout-confirm-yes">&nbsp;&nbsp;&nbsp;Có&nbsp;&nbsp;&nbsp;</a>
                    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-rel="back" id="checkout-confirm-no">Không</a>
                </div>
            </div>
        </div>

        <div data-role="popup" id="checkout-success" data-overlay-theme="b" data-theme="a">
            <div role="main" class="ui-content" id="checkout-success-content">
            </div>
        </div>
    </div>

    <div data-role="page" id="about-page" data-theme="a">
        <div data-role="header" data-position="fixed">
            <h1 class="header-title">
                <span class="page-title">
                    <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                </span>
            </h1>
            <a href="#" data-direction="reverse" data-iconpos="notext" data-rel="back" data-icon="arrow-l" class="icon-zoom">Back</a>
            <a href="#about-panel" data-icon="grid" data-iconpos="notext" class="icon-zoom">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content font-content">
        </div><!-- /content -->

        <div class="font-content" data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="a" id="about-panel" data-position="right" data-classes='{"modal":"needsclick ui-panel-dismiss"}'>
            <ul data-role="listview">
                <li class="customer-welcome" data-rel="close">&nbsp;</li>
                <li><a href="#category-page" data-transition="slide" class="menu">Sản phẩm</a></li>
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#order-page" data-transition="slide" class="menu">Lịch sử đơn hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#setting-page" data-transition="slide" class="menu">Cài đặt</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
                <li class="slogan">
                    <div style="text-align:center">
                        <h1 class="header-title">
                            <span class="page-title">
                                <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                            </span>
                        </h1>
                        <span class="slogan-bottom">
                            <span class="spr">k</span><span class="tnmi">ế</span><span class="spr">t</span>
                            <span class="spr">n</span><span class="tnmi">ố</span><span class="spr">i</span>
                            <span class="spr">n</span><span class="spr">i</span><span class="tnmi">ề</span><span class="spr">m</span>
                            <span class="spr">t</span><span class="tnmi">i</span><span class="spr">n</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div data-role="page" id="region-edit-page" data-theme="a">
        <div data-role="header" data-position="fixed">
            <h1 class="header-title">
                <span class="page-title">
                    <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                </span>
            </h1>
            <a href="#" data-direction="reverse" data-iconpos="notext" data-rel="back" data-icon="arrow-l" class="icon-zoom">Back</a>
            <a href="#region-edit-panel" data-icon="grid" data-iconpos="notext" class="icon-zoom">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content font-content">
            <div class="region">
                <select class="region-parent" name="region[parent]">
                    <option value="">Thành phố/Tỉnh</option>
                </select>
                <select class="region-child" name="region[child]">
                    <option value="">Quận/Thị xã</option>
                </select>
            </div>
            <br /><br />
            <div class="submit">
                <a href="#category-page" data-role="button" data-transition="slide" class="region_submit" data-empty_cart="1">Xác nhận</a>
            </div>
        </div><!-- /content -->

        <div class="font-content" data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="a" id="region-edit-panel" data-position="right" data-classes='{"modal":"needsclick ui-panel-dismiss"}'>
            <ul data-role="listview">
                <li class="customer-welcome" data-rel="close">&nbsp;</li>
                <li><a href="#category-page" data-transition="slide" class="menu">Sản phẩm</a></li>
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#order-page" data-transition="slide" class="menu">Lịch sử đơn hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#setting-page" data-transition="slide" class="menu">Cài đặt</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
                <li class="slogan">
                    <div style="text-align:center">
                        <h1 class="header-title">
                            <span class="page-title">
                                <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                            </span>
                        </h1>
                        <span class="slogan-bottom">
                            <span class="spr">k</span><span class="tnmi">ế</span><span class="spr">t</span>
                            <span class="spr">n</span><span class="tnmi">ố</span><span class="spr">i</span>
                            <span class="spr">n</span><span class="spr">i</span><span class="tnmi">ề</span><span class="spr">m</span>
                            <span class="spr">t</span><span class="tnmi">i</span><span class="spr">n</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div data-role="page" id="link-page" data-theme="a">
        <div data-role="header" data-position="fixed">
            <h1 class="header-title">
                <span class="page-title">
                    <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                </span>
            </h1>
            <a href="#" data-direction="reverse" data-iconpos="notext" data-rel="back" data-icon="arrow-l" class="icon-zoom">Back</a>
            <a href="#link-panel" data-icon="grid" data-iconpos="notext" class="icon-zoom">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content font-content">
            <a href="#" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-fa-share-alt share ui-icon-fa-2x">Chia sẻ</a>
            <a href="#contact-page" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-fa-envelope" data-transition="slide">Góp ý</a>
        </div><!-- /content -->

        <div class="font-content" data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="a" id="link-panel" data-position="right" data-classes='{"modal":"needsclick ui-panel-dismiss"}'>
            <ul data-role="listview">
                <li class="customer-welcome" data-rel="close">&nbsp;</li>
                <li><a href="#category-page" data-transition="slide" class="menu">Sản phẩm</a></li>
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#order-page" data-transition="slide" class="menu">Lịch sử đơn hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#setting-page" data-transition="slide" class="menu">Cài đặt</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
                <li class="slogan">
                    <div style="text-align:center">
                        <h1 class="header-title">
                            <span class="page-title">
                                <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                            </span>
                        </h1>
                        <span class="slogan-bottom">
                            <span class="spr">k</span><span class="tnmi">ế</span><span class="spr">t</span>
                            <span class="spr">n</span><span class="tnmi">ố</span><span class="spr">i</span>
                            <span class="spr">n</span><span class="spr">i</span><span class="tnmi">ề</span><span class="spr">m</span>
                            <span class="spr">t</span><span class="tnmi">i</span><span class="spr">n</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div data-role="page" id="contact-page" data-theme="a">
        <div data-role="header" data-position="fixed">
            <h1 class="header-title">
                <span class="page-title">
                    <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                </span>
            </h1>
            <a href="#" data-direction="reverse" data-iconpos="notext" data-rel="back" data-icon="arrow-l" class="icon-zoom">Back</a>
            <a href="#contact-panel" data-icon="grid" data-iconpos="notext" class="icon-zoom">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content font-content">
            <label for="contact-name" class="label"><strong><span>Tiêu đề</span><span class="requied">(</span><span class="requied">*</span><span class="requied">)</span></strong></label>
            <input type="text" name="name" id="contact-name" value="" required>
            <label for="contact-description" class="label"><strong><span>Nội dung</span><span class="requied">(</span><span class="requied">*</span><span class="requied">)</span></strong></label>
            <textarea cols="40" rows="8" name="description" id="contact-description"></textarea>
            <div>
                <button class="ui-btn ui-icon-delete ui-btn-icon-left ui-icon-fa-send" id="contact-submit">Gửi</button>
            </div>
        </div><!-- /content -->

        <div class="font-content" data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="a" id="contact-panel" data-position="right" data-classes='{"modal":"needsclick ui-panel-dismiss"}'>
            <ul data-role="listview">
                <li class="customer-welcome" data-rel="close">&nbsp;</li>
                <li><a href="#category-page" data-transition="slide" class="menu">Sản phẩm</a></li>
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#order-page" data-transition="slide" class="menu">Lịch sử đơn hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#setting-page" data-transition="slide" class="menu">Cài đặt</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
                <li class="slogan">
                    <div style="text-align:center">
                        <h1 class="header-title">
                            <span class="page-title">
                                <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                            </span>
                        </h1>
                        <span class="slogan-bottom">
                            <span class="spr">k</span><span class="tnmi">ế</span><span class="spr">t</span>
                            <span class="spr">n</span><span class="tnmi">ố</span><span class="spr">i</span>
                            <span class="spr">n</span><span class="spr">i</span><span class="tnmi">ề</span><span class="spr">m</span>
                            <span class="spr">t</span><span class="tnmi">i</span><span class="spr">n</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="font-content" data-role="popup" id="feedback-success" data-overlay-theme="b" data-theme="a">
            <div role="main" class="ui-content" id="feedback-success-content">
            </div>
        </div>
    </div>

    <div data-role="page" id="setting-page" data-theme="a">
        <div data-role="header" data-position="fixed">
            <h1 class="header-title">
                <span class="page-title">
                    <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                </span>
            </h1>
            <a href="#category-page" data-transition="slide" data-direction="reverse" data-iconpos="notext" data-icon="arrow-l" class="icon-zoom">Back</a>
            <a href="#setting-panel" data-icon="grid" data-iconpos="notext" class="icon-zoom">Menu</a>
        </div>

        <div role="main" class="ui-content font-content">
            <form>
                <div>
                    <label for="enable-vibrate"><strong>Bật/tắt chế độ rung:</strong></label>
                    <input type="checkbox" data-role="flipswitch" name="enable-vibrate" id="enable-vibrate" data-on-text="Bật" data-off-text="Tắt" data-wrapper-class="custom-label-flipswitch">
                </div>

                    <label for="font-range"><strong>Thay đổi cỡ chữ:</strong></label>
                    <input type="range" name="font-range" id="font-range" min="16" max="20" value="16" data-highlight="true" />
            </form>
        </div>

        <div class="font-content" data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="a" id="setting-panel" data-position="right" data-classes='{"modal":"needsclick ui-panel-dismiss"}'>
            <ul data-role="listview">
                <li class="customer-welcome" data-rel="close">&nbsp;</li>
                <li><a href="#category-page" data-transition="slide" class="menu">Sản phẩm</a></li>
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#order-page" data-transition="slide" class="menu">Lịch sử đơn hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#setting-page" data-transition="slide" class="menu">Cài đặt</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
                <li class="slogan">
                    <div style="text-align:center">
                        <h1 class="header-title">
                            <span class="page-title">
                                <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                            </span>
                        </h1>
                        <span class="slogan-bottom">
                            <span class="spr">k</span><span class="tnmi">ế</span><span class="spr">t</span>
                            <span class="spr">n</span><span class="tnmi">ố</span><span class="spr">i</span>
                            <span class="spr">n</span><span class="spr">i</span><span class="tnmi">ề</span><span class="spr">m</span>
                            <span class="spr">t</span><span class="tnmi">i</span><span class="spr">n</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div data-role="page" id="order-page" data-theme="a">
        <div data-role="header" data-position="fixed">
            <h1 class="header-title">
                <span class="page-title">
                    <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                </span>
            </h1>
            <a href="#" data-direction="reverse" data-iconpos="notext" data-rel="back" data-icon="arrow-l" class="icon-zoom">Back</a>
            <a href="#order-panel" data-icon="grid" data-iconpos="notext" class="icon-zoom">Menu</a>
        </div><!-- /header -->

        <div role="main" class="ui-content font-content">
            <div id="order-list" data-role="collapsibleset">
            </div>
        </div><!-- /content -->

        <div class="font-content" data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="a" id="order-panel" data-position="right" data-classes='{"modal":"needsclick ui-panel-dismiss"}'>
            <ul data-role="listview">
                <li class="customer-welcome" data-rel="close">&nbsp;</li>
                <li><a href="#category-page" data-transition="slide" class="menu">Sản phẩm</a></li>
                <li><a href="#cart-page" data-transition="slide" class="menu">Giỏ hàng</a></li>
                <li><a href="#order-page" data-transition="slide" class="menu">Lịch sử đơn hàng</a></li>
                <li><a href="#region-edit-page" data-transition="slide" class="menu">Địa chỉ</a></li>
                <li><a href="#link-page" data-transition="slide" class="menu">Liên kết</a></li>
                <li><a href="#about-page" data-transition="slide" class="menu">Giới thiệu</a></li>
                <li><a href="#setting-page" data-transition="slide" class="menu">Cài đặt</a></li>
                <li><a href="#exit-app" class="exit-app">Thoát</a></li>
                <li class="slogan">
                    <div style="text-align:center">
                        <h1 class="header-title">
                            <span class="page-title">
                                <span class="vnitube">o</span><span class="vnitube">n</span><span class="lmt">G</span><span class="lmt">a</span><span class="lmt">s</span>
                            </span>
                        </h1>
                        <span class="slogan-bottom">
                            <span class="spr">k</span><span class="tnmi">ế</span><span class="spr">t</span>
                            <span class="spr">n</span><span class="tnmi">ố</span><span class="spr">i</span>
                            <span class="spr">n</span><span class="spr">i</span><span class="tnmi">ề</span><span class="spr">m</span>
                            <span class="spr">t</span><span class="tnmi">i</span><span class="spr">n</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="font-content" id="system-popup" data-theme="a" data-role="popup">
        <div id="system-popup-content" class="ui-content"></div>
    </div>
    <div class="font-content" id="network-popup" data-theme="a" data-role="popup" data-overlay-theme="b" data-dismissible="false">
        <div id="network-popup-content" class="ui-content">
        </div>
    </div>

    <div class="ui-loader-background"> </div>

    <script type="text/template" id="product-item-tpl">
        <a class="ui-btn ui-btn-icon-bottom ui-icon-carat-d product-item">
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <img src="<%= logo_path %>" alt="<%= name %>" class="product-logo inline-block" />
                    <div class="inline-block">
                        <h2><%= name %></h2>
                        <p class="product-price">Giá: <%= price %>/<%= unit %></p>
                    </div>
                </div>
                <div class="ui-block-b">
                </div>
            </div>
            <div class="ui-grid-solo">
                <div class="description"><%= description %></div>
            </div>
        </a>
        <span data-role="button" class="ui-btn ui-btn-right ui-shadow ui-corner-all ui-icon-shop ui-btn-icon-notext ui-nodisc-icon cart icon-zoom" data-item='<%= serialize %>'>Mua</span>
    </script>

    <script type="text/template" id="cart-item-tpl">
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a href="#product-page" class="cart-item" data-transition="slide" data-expand="#product-<%= id %>" data-category_id="<%= category_id[0] %>">
                    <img src="<%= logo_path %>" alt="<%= name %>" class="product-logo" />
                    <br />
                    <span><%= name %></span>
                    <br />
                    <span><%= price %>/<%= unit %></span>
                </a>
            </div>
            <div class="ui-block-b">
                <input type="range" name="slider-<%= id %>" id="slider-<%= id %>" min="0" max="<%= max_qty %>" value="<%= qty %>" data-highlight="true" class="qty" data-item='<%= serialize %>' />
            </div>
        </div>
    </script>

    <script type="text/template" id="checkout-item-tpl">
        <div class="ui-grid-a">
            <div class="ui-block-a" style="width:30%">
                <img src="<%= logo_path %>" alt="<%= name %>" class="product-logo" />
            </div>
            <div class="ui-block-b" style="width:70%">
                <strong><%= name %></strong>
                <br />
                <span>Đơn giá: <%= price %>/<%= unit %></span>
                <br />
                <span>Số lượng: <%= qty %></span>
            </div>
        </div>
        <hr class="checkout-item-divider" />
    </script>

    <script type="text/template" id="checkout-customer-tpl">
        <div class="ui-grid-solo">
            <strong class="label"><span class="highlight">Người mua hàng:</span></strong><br />
            <span><%= fullname %></span><br />
            <strong class="label"><span class="highlight">Số điện thoại:</span></strong><br />
            <span><%= mobile %></span><br />
            <% if(mobile2.length) { %>
            <span><%= mobile2 %></span><br />
            <% } %>
            <strong class="label"><span class="highlight">Địa chỉ:</span></strong><br />
            <span><%= address %></span><br />
            <strong class="label"><span class="highlight">Tỉnh/Thành phố:</span></strong><br />
            <span><%= region_parent_name %></span><br />
            <strong class="label"><span class="highlight">Quận/Huyện/Thị xã:</span></strong><br />
            <span><%= region_name %></span><br />
        </div>
    </script>

    <script type="text/template" id="order-item-tpl">
        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-collapsed="false">
            <h4 class="<%= status_class %>">Mã <%= code %> - <%= created_label %></h4>
            <% _.each(product_items, function(item){ %>
            <div class="ui-grid-a">
                <div class="ui-block-a order-product-logo">
                    <img src="<%= item.product_logo_path %>" alt="<%= item.product_name %>" class="product-logo" />
                </div>
                <div class="ui-block-b order-product-detail">
                    <strong><%= item.product_name %></strong>
                    <br />
                    <span>Đơn giá: <%= item.product_price %>/<%= item.product_unit %></span>
                    <br />
                    <span>Số lượng: <%= item.product_qty %></span>
                </div>
            </div>
            <hr class="checkout-item-divider" />
            <% }); %>
            <div class="ui-grid-solo order-total">
                <h3 class="">Tổng tiền: <span class="order-product-total-price"><%= total_price %></span></h3>
                <h3 class="">Trạng thái: <span class="order-status <%= status_class %>"><%= status_label %></span></h3>
            </div>
        </div>
    </script>

    <!--<script src="http://192.168.5.147:1337/vorlon.js"></script>-->
    <script src="scripts/libs/localforage.js"></script>
    <script src="scripts/libs/underscore.js"></script>
    <script src="scripts/libs/moment.js"></script>
    <script src="scripts/libs/jquery-2.1.4.js"></script>
    <script src="scripts/libs/jquery.marquee.js"></script>
    <script src="scripts/libs/spin.js"></script>
    <script src="scripts/libs/jquery.spin.js"></script>
    <script src="scripts/libs/fastclick.js"></script>
    <script src="scripts/libs/backbone.js"></script>
    <script src="scripts/libs/localforage.backbone.js"></script>
    <script src="scripts/index.js"></script>
    <script src="scripts/jqm-config.js"></script>
    <script src="scripts/libs/jquery.mobile-1.4.5.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="cordova.js"></script>
</body>
</html>